.heading-primary {
    color: $color-white;
    font-family: 'Lora', sans-serif;
    font-size: 4.8rem;
    font-weight: normal;
    line-height: 5rem;

    @include respond(phone) {
        font-size: 4.5rem;
    }
}

.paragrahp{
    font-size: $default-font-size;
    color: $color-white;

	&:not(:last-child){
		margin-bottom: 3rem;
	}
}