$bg-color: #fff;
$color-text-primary: #fff;
$color-primary: #333333;
$color-black: #000;
$color-white: #fff;
$color-gray-2: #4f4f4f;

$default-font-size: 1.8rem;
$default-line-height: 22px;

$container-width: 67vw;

// GRID
$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;