.recipe-title {
  text-align: left;
  margin: 2rem 10rem 0;

  &-heading {
    font-size: 4.5rem;
  }

  &-description {
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    font-style: italic;
  }
}