.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color;
    animation: moveInTop .8s ease-in;
    transition: all .5s ease;

    @include respond(phone) {
        flex-wrap: wrap;
        position: fixed;
        z-index: 9999;
        width: 100%;
        top: 0;
        left: 0;
        padding: 1rem 2.5rem;
    }

    $parent: &;
    &__toggle {
        display: none;

        &:checked ~ #{$parent}__list {
            display: flex;
            justify-content: center;
            opacity: 1;
            margin-top: -10rem;

            #{$parent}__item {
                animation: item-scale-checked .5s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }

        &:checked ~ .logo {
            visibility: hidden;
        }

        &:checked {
            /*justify-content: flex-end;*/
            background-color: $bg-color;
            padding: 90rem;
        }

        &:checked ~ .menu-icon #{$parent}__icon::before{
            transform: rotate(135deg);
            top: 3.3rem;
        }

        &:checked ~ .menu-icon #{$parent}__icon::after{
            transform: rotate(-135deg);
            top: 3.3rem;    
        }

        &:checked ~ .menu-icon #{$parent}__icon{
            background-color: transparent;
        }
    }

    &__icon {
        &,
		&::before,
		&::after{
			width: 4rem;
			height: 2px;
			background-color: $color-white;
			display: inline-block;
		}

		&::before,
		&::after{
			content: "";
			position: absolute;
			left: 0;
			transition: all .2s;
		}

		&::before{top: 2.3rem;}
		&::after{top: 4.5rem;}
    }

    &__list {
        flex: 1 0 auto;
        display: flex;
        justify-content: flex-end;

        @include respond(phone) {
            flex-direction: column;
            width: 100%;
            text-align: center;
            display: none;
            min-height: 101vh;
            opacity: 0;
        }

    }

    &__item {
        transition: all .5s ease;
        //animation: item-scale;
        //transform: scale(1.2);
        &:not(:last-child) {
            margin-right: 5rem;
            @include respond(phone) {
                margin-right: 0;
                margin-bottom: 10rem;
            }
        }

        @include respond(phone) {
            transform: scale(3);
        }

    }

    &__link {
        font-size: 1.8rem;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;

        &--active, &:hover {
            font-weight: bold;
        }
    }
}