<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Interior Consultant</title>
</head>
<body class="container">
    <main>
        <article class="recipe">
            <h1 class="recipe__title">Classic Cheesecake Recipe</h1>
            <p class="recipe__description">
                Look no further for a creamy and ultra smooth classic cheesecake recipe! Paired with a buttery graham cracker crust, 
                no one can deny its simple decadence. For the best results, bake in a water bath.
            </p>
        </article>
    </main>
    <footer class="footer">
        Reynaldo Josue Cano Barcenas@DevChallenges.io
    </footer>
</body>
</html>